.gradle
.idea
*.iml
*.mdb
*.mdb.gz
*.py~
*.log
*.tmp
code-generator/out/
couch-server/out/
couch-server/bin/
tools/out/
LifeStage.csv
/bin/
/Libs/
/.settings/
/.classpath
.svn/
.project

# Sync Gateway init and SSL stuff
couch-server/sync-gateway-init.lock
couch-server/*.key
couch-server/*.crt
couch-server/*.cer
couch-server/*.p12
couch-server/serviceconfig.json
couch-server/replication.properties
