<section>
  <app-banner title="Island"></app-banner>
</section>

<app-server-message-display
  [validationMessages]="messages"
></app-server-message-display>

<section class="vertical-spacer bg-light" *ngIf="myFormGroup">
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <app-island-edit-form
          [myFormGroup]="myFormGroup"
        ></app-island-edit-form>
      </div>
      <app-buttonblock class="col-md-2">
        <button
          id="saveBtn"
          [disabled]="myFormGroup && myFormGroup.invalid"
          (click)="onSave()"
        >
          Save
        </button>
        <button id="cancelBtn" (click)="onCancel()">Cancel</button>
      </app-buttonblock>
    </div>
  </div>
</section>
