<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Bird(s)</th>
        <th scope="col">UHF ID</th>
        <th scope="col">CM Hour</th>
        <th scope="col">CM Minute</th>
        <th scope="col">Mating Age</th>
        <th scope="col">Battery Weeks</th>
        <th scope="col">Activity Hours</th>
        <th scope="col">Comments</th>
      </tr>
    </thead>

    <tbody *ngIf="!cmShortList">
      <tr>
        <td colspan="7">Loading...</td>
      </tr>
    </tbody>

    <tbody *ngIf="cmShortList && cmShortList.length === 0">
      <tr>
        <td colspan="7">No data found.</td>
      </tr>
    </tbody>

    <tbody *ngIf="cmShortList && cmShortList.length > 0">
      <tr *ngFor="let item of cmShortList">
        <td>
          <app-bird-name-label-multi
            [birdList]="item.birdList"
          ></app-bird-name-label-multi>
        </td>
        <td>{{ item.uhfId | number: '3.0-0' }}</td>
        <td>{{ item.cmHour }}</td>
        <td>{{ item.cmMinute }}</td>
        <td>{{ item.matingAge }}</td>
        <td>{{ item.batteryLife }}</td>
        <td>{{ item.activity }}</td>
        <td>{{ item.comments }}</td>
      </tr>
    </tbody>
  </table>
</div>
