<div
  bsModal
  #resetPasswordModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="mySmallModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Reset Password</h4>
        <button
          type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="onCancelResetPassword()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="!userName">
        User has no username, so no password to be reset.
        <hr />
        <button
          id="dismissOk1Btn"
          type="button"
          (click)="onDismissOk()"
          class="btn btn-success"
        >
          Ok
        </button>
      </div>
      <div class="modal-body" *ngIf="userName && !resetPasswordResponse">
        Are you sure you want reset this person's password?
        <hr />
        <button
          id="confirmResetPasswordBtn"
          type="button"
          (click)="onConfirmResetPassword(resetPasswordModal)"
          class="btn btn-danger mr-2"
        >
          Reset
        </button>
        <button
          id="cancelResetPasswordBtn"
          type="button"
          (click)="onCancelResetPassword(resetPasswordModal)"
          class="btn btn-default"
        >
          Cancel
        </button>
      </div>
      <div class="modal-body" *ngIf="userName && resetPasswordResponse">
        <div *ngIf="resetPasswordResponse.newPassword">
          <p>
            The password for this person is now:
            <strong>{{ resetPasswordResponse.newPassword }}</strong>
          </p>
        </div>
        <div *ngIf="resetPasswordResponse.encryptedPassword">
          <p>
            For this Data Replication account copy the following line into the
            <em>Dusky/replication.properties</em> file on the associated laptop.
            If the file does not exist you will need to create it.
          </p>
          <div>
            <code>
              replication.password=encrypted({{
                resetPasswordResponse.encryptedPassword
              }})
            </code>
          </div>
        </div>
        <hr />
        <button
          id="dismissOk2Btn"
          type="button"
          (click)="onDismissOk()"
          class="btn btn-success"
        >
          Ok
        </button>
      </div>
    </div>
  </div>
</div>
