<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Lab Name</th>
        <th scope="col">Case Number</th>
        <th scope="col">Date Processed</th>
        <th scope="col">Test</th>
        <th scope="col">Result</th>
        <th scope="col">Stats Exclude?</th>
      </tr>
    </thead>

    <tbody *ngIf="!haematologytestList">
      <tr>
        <td colspan="6">Loading...</td>
      </tr>
    </tbody>

    <tbody *ngIf="haematologytestList && haematologytestList.length === 0">
      <tr>
        <td colspan="6">No data found.</td>
      </tr>
    </tbody>

    <tbody *ngIf="haematologytestList && haematologytestList.length > 0">
      <tr *ngFor="let item of haematologytestList">
        <td>
          {{ item.labName }}
        </td>
        <td>
          {{ item.caseNumber }}
        </td>
        <td>
          {{ item.dateProcessed | date: 'dd/MM/yyyy' }}
        </td>
        <td>
          <!-- don't put this in a badge as it stuffs up alignment with the stats table-->
          {{ item.test }}
        </td>
        <td>
          {{ item.result }}
        </td>
        <td>
          <ng-container *ngIf="item.statsExclude"
            ><fa-icon icon="check" aria-hidden="true"></fa-icon
            ><span class="sr-only">Excluded</span></ng-container
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
