<div class="row mb-3">
  <div class="col-md-6">
    <dl class="data-group">
      <dt>Total Blood Volume</dt>
      <dd>{{ bloodSampleDetail.totalBloodVolumeInMl | addUnits: 'mL' }}</dd>
      <dt>Vein Site(s)</dt>
      <dd>
        <span
          class="badge badge-secondary mr-2"
          *ngFor="let site of bloodSampleDetail.veinSite"
          >{{ site }}</span
        >
      </dd>
    </dl>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm">
    <thead class="thead-light">
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Storage Medium</th>
        <th scope="col">Container</th>
        <th scope="col">Storage Conditions</th>
        <th scope="col">Volume</th>
        <th scope="col">Sample Taken By</th>
        <th scope="col">Sample ID</th>
        <th scope="col">Reason for Sample</th>
      </tr>
    </thead>

    <tbody *ngIf="!bloodSampleDetail?.bloodSampleList">
      <tr>
        <td colspan="8">Loading...</td>
      </tr>
    </tbody>

    <tbody
      *ngIf="
        bloodSampleDetail?.bloodSampleList &&
        bloodSampleDetail?.bloodSampleList.length === 0
      "
    >
      <tr>
        <td colspan="8">No data found.</td>
      </tr>
    </tbody>

    <tbody
      *ngIf="
        bloodSampleDetail?.bloodSampleList &&
        bloodSampleDetail?.bloodSampleList.length > 0
      "
    >
      <tr
        *ngFor="let item of bloodSampleDetail?.bloodSampleList"
        (click)="onClick(item, $event)"
      >
        <td>
          <small class="badge badge-primary">{{ item.type }}</small>
        </td>
        <td>
          <small class="badge badge-primary">{{ item.storageMedium }}</small>
        </td>
        <td>
          <small class="badge badge-primary">{{ item.container }}</small>
        </td>
        <td>
          <small class="badge badge-primary">{{
            item.storageConditions
          }}</small>
        </td>
        <td>
          {{ item.volumeInMl | addUnits: 'ml' }}
        </td>
        <td>
          <app-person-name-label
            [personId]="item.sampleTakenBy"
          ></app-person-name-label>
        </td>
        <td>
          {{ item.sampleName }}
        </td>
        <td>
          {{ item.reasonForSample }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
