<!-- [TODO] NB: The style revisions have not been tested as this component doesn't appear to be used -->
<ng-container *ngIf="txactivityEntity">
  <app-controlblock title="TX Activity" [noOffset]="true">
    <div class="row">
      <div class="form-group col-md-3">
        <label for="alg1Activity2DaysAgo1"> 1st Activity 2 days ago 1 </label>
        <input
          class="form-control"
          id="alg1Activity2DaysAgo1"
          [(ngModel)]="txactivityEntity.alg1Activity2DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity2DaysAgo2"> 1st Activity 2 days ago 2 </label>
        <input
          class="form-control"
          id="alg1Activity2DaysAgo2"
          [(ngModel)]="txactivityEntity.alg1Activity2DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity3DaysAgo1"> 1st Activity 3 days ago 1 </label>
        <input
          class="form-control"
          id="alg1Activity3DaysAgo1"
          [(ngModel)]="txactivityEntity.alg1Activity3DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity3DaysAgo2"> 1st Activity 3 days ago 2 </label>
        <input
          class="form-control"
          id="alg1Activity3DaysAgo2"
          [(ngModel)]="txactivityEntity.alg1Activity3DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity4DaysAgo1"> 1st Activity 4 days ago 1 </label>
        <input
          class="form-control"
          id="alg1Activity4DaysAgo1"
          [(ngModel)]="txactivityEntity.alg1Activity4DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity4DaysAgo2"> 1st Activity 4 days ago 2 </label>
        <input
          class="form-control"
          id="alg1Activity4DaysAgo2"
          [(ngModel)]="txactivityEntity.alg1Activity4DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity5DaysAgo1"> 1st Activity 5 days ago 1 </label>
        <input
          class="form-control"
          id="alg1Activity5DaysAgo1"
          [(ngModel)]="txactivityEntity.alg1Activity5DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity5DaysAgo2"> 1st Activity 5 days ago 2 </label>
        <input
          class="form-control"
          id="alg1Activity5DaysAgo2"
          [(ngModel)]="txactivityEntity.alg1Activity5DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity6DaysAgo1"> 1st Activity 6 days ago 1 </label>
        <input
          class="form-control"
          id="alg1Activity6DaysAgo1"
          [(ngModel)]="txactivityEntity.alg1Activity6DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1Activity6DaysAgo2"> 1st Activity 6 days ago 2 </label>
        <input
          class="form-control"
          id="alg1Activity6DaysAgo2"
          [(ngModel)]="txactivityEntity.alg1Activity6DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1ActivityYesterday1"> 1st Activity yesterday 1 </label>
        <input
          class="form-control"
          id="alg1ActivityYesterday1"
          [(ngModel)]="txactivityEntity.alg1ActivityYesterday1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg1ActivityYesterday2"> 1st Activity yesterday 2 </label>
        <input
          class="form-control"
          id="alg1ActivityYesterday2"
          [(ngModel)]="txactivityEntity.alg1ActivityYesterday2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity2DaysAgo1"> 2nd Activity 2 days ago 1 </label>
        <input
          class="form-control"
          id="alg2Activity2DaysAgo1"
          [(ngModel)]="txactivityEntity.alg2Activity2DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity2DaysAgo2"> 2nd Activity 2 days ago 2 </label>
        <input
          class="form-control"
          id="alg2Activity2DaysAgo2"
          [(ngModel)]="txactivityEntity.alg2Activity2DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity3DaysAgo1"> 2nd Activity 3 days ago 1 </label>
        <input
          class="form-control"
          id="alg2Activity3DaysAgo1"
          [(ngModel)]="txactivityEntity.alg2Activity3DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity3DaysAgo2"> 2nd Activity 3 days ago 2 </label>
        <input
          class="form-control"
          id="alg2Activity3DaysAgo2"
          [(ngModel)]="txactivityEntity.alg2Activity3DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity4DaysAgo1"> 2nd Activity 4 days ago 1 </label>
        <input
          class="form-control"
          id="alg2Activity4DaysAgo1"
          [(ngModel)]="txactivityEntity.alg2Activity4DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity4DaysAgo2"> 2nd Activity 4 days ago 2 </label>
        <input
          class="form-control"
          id="alg2Activity4DaysAgo2"
          [(ngModel)]="txactivityEntity.alg2Activity4DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity5DaysAgo1"> 2nd Activity 5 days ago 1 </label>
        <input
          class="form-control"
          id="alg2Activity5DaysAgo1"
          [(ngModel)]="txactivityEntity.alg2Activity5DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity5DaysAgo2"> 2nd Activity 5 days ago 2 </label>
        <input
          class="form-control"
          id="alg2Activity5DaysAgo2"
          [(ngModel)]="txactivityEntity.alg2Activity5DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity6DaysAgo1"> 2nd Activity 6 days ago 1 </label>
        <input
          class="form-control"
          id="alg2Activity6DaysAgo1"
          [(ngModel)]="txactivityEntity.alg2Activity6DaysAgo1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2Activity6DaysAgo2"> 2nd Activity 6 days ago 2 </label>
        <input
          class="form-control"
          id="alg2Activity6DaysAgo2"
          [(ngModel)]="txactivityEntity.alg2Activity6DaysAgo2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2ActivityYesterday1"> 2nd Activity yesterday 1 </label>
        <input
          class="form-control"
          id="alg2ActivityYesterday1"
          [(ngModel)]="txactivityEntity.alg2ActivityYesterday1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="alg2ActivityYesterday2"> 2nd Activity yesterday 2 </label>
        <input
          class="form-control"
          id="alg2ActivityYesterday2"
          [(ngModel)]="txactivityEntity.alg2ActivityYesterday2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="batteryLife1"> Battery life 1 </label>
        <input
          class="form-control"
          id="batteryLife1"
          [(ngModel)]="txactivityEntity.batteryLife1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="batteryLife2"> Battery life 2 </label>
        <input
          class="form-control"
          id="batteryLife2"
          [(ngModel)]="txactivityEntity.batteryLife2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="hairTrigger1"> Hair trigger 1 </label>
        <input
          class="form-control"
          id="hairTrigger1"
          [(ngModel)]="txactivityEntity.hairTrigger1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="hairTrigger2"> Hair trigger 2 </label>
        <input
          class="form-control"
          id="hairTrigger2"
          [(ngModel)]="txactivityEntity.hairTrigger2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="longTrigger1"> Long trigger 1 </label>
        <input
          class="form-control"
          id="longTrigger1"
          [(ngModel)]="txactivityEntity.longTrigger1"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="longTrigger2"> Long trigger 2 </label>
        <input
          class="form-control"
          id="longTrigger2"
          [(ngModel)]="txactivityEntity.longTrigger2"
        />
      </div>
      <div class="form-group col-md-3">
        <label for="recoveryid"> Recoveryid </label>
        <input
          class="form-control"
          id="recoveryid"
          [(ngModel)]="txactivityEntity.recoveryid"
        />
      </div>
    </div>
  </app-controlblock>
</ng-container>
