<select
  class="custom-select"
  *ngIf="!autofocus"
  (change)="onSelectOption($event.target.value, $event.target)"
  [disabled]="disabled"
>
  <option [value]="'XXX'">Add ...</option>
  <option *ngFor="let opt of optionList" [ngValue]="opt">{{ opt }}</option>
</select>
<select
  class="custom-select"
  *ngIf="autofocus"
  (change)="onSelectOption($event.target.value, $event.target)"
  [disabled]="disabled"
  appAutofocus
>
  <option [value]="'XXX'">Add ...</option>
  <option *ngFor="let opt of optionList" [ngValue]="opt">{{ opt }}</option>
</select>
<span
  class="badge badge-secondary mr-1"
  *ngFor="let selOpt of selectedOptions; index as index"
  [attr.data-index]="index"
>
  {{ selOpt }}
  <a
    href="#"
    class="bg-secondary text-light"
    (click)="onRemoveOptionAction(index)"
  >
    <fa-icon icon="times" aria-hidden="true"></fa-icon
    ><span class="sr-only">Remove</span>
  </a>
</span>
