<section>
  <app-banner title="Snark Activities"></app-banner>
</section>

<section
  class="vertical-spacer bg-light"
  *ngIf="snarkactivityCriteria"
  (keyup.enter)="onSearch()"
>
  <div class="container">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <app-controlblock title="Locations" class="col-md-3">
            <div class="form-group">
              <label for="island"> Island </label>
              <app-type-ahead
                id="island"
                [optionType]="'IslandName'"
                [(selectedOption)]="snarkactivityCriteria.island"
                [autofocus]="true"
              ></app-type-ahead>
            </div>
            <div class="form-group">
              <label for="locationID"> Location </label>
              <app-location-name-id-select
                id="locationID"
                [(locationID)]="snarkactivityCriteria.locationID"
                (locationIDChange)="doSearch()"
                (keyup.enter)="prevent($event)"
              ></app-location-name-id-select>
            </div>
          </app-controlblock>
          <app-controlblock title="Birds" class="col-md-3">
            <div class="form-group">
              <label for="birdID"> Bird </label>
              <app-bird-name-id-select
                id="birdID"
                [(birdID)]="snarkactivityCriteria.birdID"
                (birdIDChange)="doSearch()"
                (keyup.enter)="prevent($event)"
              ></app-bird-name-id-select>
            </div>
          </app-controlblock>
          <app-controlblock title="Dates" class="col-md-3">
            <div class="form-group">
              <label for="fromDate"> From Date </label>
              <app-date-editor
                id="fromDate"
                [editorCfg]="'none'"
                [(dateValue)]="snarkactivityCriteria.fromDate"
              ></app-date-editor>
            </div>
            <div class="form-group">
              <label for="toDate"> To Date </label>
              <app-date-editor
                id="toDate"
                [editorCfg]="'none'"
                [(dateValue)]="snarkactivityCriteria.toDate"
              ></app-date-editor>
            </div>
          </app-controlblock>
          <app-controlblock title="Record Types" class="col-md-3">
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="includeTrackAndBowl"
                  [(ngModel)]="snarkactivityCriteria.includeTrackAndBowl"
                />
                <label class="form-check-label" for="includeTrackAndBowl">
                  Track and Bowl
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="includeHopper"
                  [(ngModel)]="snarkactivityCriteria.includeHopper"
                />
                <label class="form-check-label" for="includeHopper">
                  Hopper
                </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="includeNest"
                  [(ngModel)]="snarkactivityCriteria.includeNest"
                />
                <label class="form-check-label" for="includeNest"> Nest </label>
              </div>
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="includeRoost"
                  [(ngModel)]="snarkactivityCriteria.includeRoost"
                />
                <label class="form-check-label" for="includeRoost">
                  Roost
                </label>
              </div>
            </div>
          </app-controlblock>
        </div>
      </div>
      <app-buttonblock class="col-md-2">
        <button id="searchBtn" (click)="onSearch()">Search</button>
        <button
          id="exportBtn"
          (click)="onExport()"
          [disabled]="!pagedResponse || pagedResponse.results.length === 0"
        >
          Export
        </button>
        <button id="resetBtn" (click)="onClear()">Reset</button>
      </app-buttonblock>
    </div>
  </div>
</section>

<section class="vertical-spacer">
  <div class="container">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-sm">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Activity Type</th>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Track Activity</th>
            <th scope="col">Sticks</th>
            <th scope="col">Grubbing</th>
            <th scope="col">Boom</th>
            <th scope="col">Ching</th>
            <th scope="col">Skraak</th>
            <th scope="col">Mating Sign</th>
            <th scope="col">Birds</th>
          </tr>
        </thead>

        <tbody *ngIf="!pagedResponse">
          <tr>
            <td colspan="12">Search not yet executed.</td>
          </tr>
        </tbody>

        <tbody *ngIf="pagedResponse && pagedResponse.results.length === 0">
          <tr>
            <td colspan="12">No search results found.</td>
          </tr>
        </tbody>

        <tbody *ngIf="pagedResponse && pagedResponse.results.length > 0">
          <tr
            *ngFor="let item of pagedResponse.results"
            (click)="onClick(item, $event)"
            class="search-result-item"
          >
            <td>{{ item.activityType }}</td>
            <td>
              <app-link-view
                [linkUrl]="'/location/' + item.locationID"
                [label]="item.locationName"
              ></app-link-view>
            </td>
            <td>{{ item.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ item.trackActivity }}</td>
            <td>{{ item.sticks }}</td>
            <td>{{ item.grubbing }}</td>
            <td>
              <ng-container *ngIf="item.boom"
                ><fa-icon icon="check" aria-hidden="true"></fa-icon
                ><span class="sr-only">Has boom</span></ng-container
              >
            </td>
            <td>
              <ng-container *ngIf="item.ching"
                ><fa-icon icon="check" aria-hidden="true"></fa-icon
                ><span class="sr-only">Has ching</span></ng-container
              >
            </td>
            <td>
              <ng-container *ngIf="item.skraak"
                ><fa-icon icon="check" aria-hidden="true"></fa-icon
                ><span class="sr-only">Has skraak</span></ng-container
              >
            </td>
            <td>{{ item.matingSign }}</td>
            <td>
              <app-link-list-view
                [linkUrlBase]="'/bird/'"
                [list]="item.birds"
              ></app-link-list-view>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row">
      <div class="col-6">
        <pagination
          *ngIf="pagedResponse && pagedResponse.results.length > 0"
          [boundaryLinks]="true"
          [maxSize]="5"
          [itemsPerPage]="snarkactivityCriteria.pageSize"
          [(ngModel)]="snarkactivityCriteria.pageNumber"
          [totalItems]="pagedResponse.total"
          (pageChanged)="onPageChanged($event)"
        >
        </pagination>
      </div>
      <div
        *ngIf="pagedResponse && pagedResponse.results.length > 0"
        class="col-6 result-count"
      >
        Showing {{ pagedResponse.firstResult | number }} to
        {{ pagedResponse.lastResult | number }} of
        {{ pagedResponse.total | number }} results
      </div>
    </div>
  </div>
</section>
