<!-- New Form layout -->
<form [formGroup]="myFormGroup" *ngIf="myFormGroup">
  <div class="row">
    <app-controlblock title="Details" class="col-md-6" [noOffset]="true">
      <div class="form-group[(field)]">
        <app-widget
          [label]="'Type'"
          [propertyName]="'type'"
          [myFormControl]="myFormGroup.get('type')"
        >
          <select class="custom-select" id="type" formControlName="type">
            <option
              *ngFor="
                let opt of optionsService.getOptions('BloodSampleTypeOptions')
                  | async
              "
              [ngValue]="opt"
            >
              {{ opt }}
            </option>
          </select>
        </app-widget>
      </div>
      <div class="form-group[(field)]">
        <app-widget
          [label]="'Volume (ml)'"
          [propertyName]="'volumeInMl'"
          [myFormControl]="myFormGroup.get('volumeInMl')"
        >
          <input
            class="form-control"
            id="volumeInMl"
            formControlName="volumeInMl"
            type="number"
            [attr.disabled]="isVolumeDisabled()"
          />
        </app-widget>
      </div>
    </app-controlblock>
  </div>
</form>
